@charset "utf-8";
@font-face {
    font-family: "montserrat bold";
    src: url(fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "montserrat medium";
    src: url(fonts/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "montserrat regular";
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    color: #1d3edd;
    font-size: 50px;
    font-family: "montserrat medium";
}
h2{
    color: #1d3edd;
    font-size: 30px;
    font-family:"montserrat medium";
}
h3{
    color:#1d3edd;
    font-size: 25px;
    font-family: "montserrat regular";
}
p{
    color: #4a4a4a;
    font-size:18px;
    font-family: "montserrat regular";
}

nav {
    height: 80px;
    background-color: #1d3edd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px; 
    font-size: 15px;
    font-family: "montserrat medium";
}

a{
    text-decoration: none;
}
a:link{
    color: #f3f0eb;
}
a:visited {
    color: #f3f0eb;
}
a:hover{
    color: #d3feb6;
    font-size: medium;
}
.logo {
    height: 60px;
    margin-left: 40px;
    margin-right: auto;
  }

#cabecera .titulo {
    width: 100%;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: "montserrat bold";
    background-image: url(img/fondo_sobremi.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    margin: 0;
}
 .contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        max-width: 1200px;
        margin: 50px auto;
 }

 .contenido-imagen img {
        object-fit: cover;
        margin-right: 30px;
    }
    
.contenido-texto {
        max-width: 50%;
     }

.fondo {
        display: block;
        width: 100%;
    }

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

footer p {
    color: #1d3edd;
}
.redes{
    display: flex;
    gap: 30px;
}

#cabecera-experiencia-estudios .titulo {
    width: 100%;
    height: 538px;
    display: flex;
    justify-content:left;
    align-items: center;
    color: #1d3edd;
    font-size: 100px;
    font-family: "montserrat bold";
    background-image: url(img/fondo_experienciayestudios.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    margin: 0;
    padding-left: 40px;
    box-sizing: border-box;
}
.experiencia {
    background-image: url(img/fondo_experiencia-lista.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
.contenido-experiencia{
    max-width: 700px;
    margin-left: 40px;
    margin-top: 40px;
} 
.experiencia ul {
    list-style: none;
}
.dos-columnas {
    background-image: url(img/fondo_doscolumnas.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    gap: 150px;
    padding: 40px;
}
.dos-columnas ul {
    list-style: none;
}
.dos-columnas li {
    color:#1d3edd;
    font-size:18px;
    font-family: "montserrat regular";
}
.titulo-trabajos{
    margin-left: 40px;
    padding: 20px;
}
.galeria {
    display: flex;
    justify-content: center;
    gap: 40px;
}

body {
    margin: 0;
}